$background-color: #fafaf5;
$color-blue: #4285f4;
$color-blue-hover: #3367d6;
$color-blue2: #2196f3;
$color-red: #dc3545;
$color-light-blue: #e3f2fd;
$color-green: #229954;
$color-light-green: #27ae60;
$color-black: #333;
$color-blue-gray: #bdc3c7;
$color-light-blue-gray: #ecf0f1;
$color-gray: #666;
$color-gray2: #777;
$color-white: #f8f9fa;
$color-white2: #f0f0f0;
$color-border: #d1d5db;
$color-border-hover: #9aa0a6;
$color-gray-hover: #4d4d4d;
